/* Website template by freewebsitetemplates.com */
html {
	font-family: Arial, Helvetica, sans-serif;
}
body {
	background-color: #0c2635;
	margin: 0;
}
img {
	border: 0;
}
/*------------------------------ HEADER ------------------------------*/
#header {
	width: 100%;
	margin: 0 auto;
	padding: 40px 0;
	position: relative;
}

/** Logo **/
#logo {
	display: block;
	padding: 0 0 35px 20px;
}

/** Navigation **/
#navigation {
	background: url(../images/bg-menu-left-curve.gif) no-repeat left bottom;
	height: 47px;
	padding: 13px 0 0 4px;
	position: absolute;
	bottom: -20px;
	left: 0;
}
#navigation ul {
	background: url(../images/bg-menu.gif) repeat-x;
	display: inline-block;
	height: 40px;
	width: 688px;
	list-style: none;
	margin: 0;
	padding: 4px 0 3px;
}
#navigation li {
	float: left;
	font-size: 16px;
	line-height: 40px;
	margin: 0 5px;
	text-align: center;
}
#navigation li.first {
	margin-left: 0;

}
#navigation li.selected {
	background-color: #b7c2c8;
}
#navigation a {
	color: #092f44;
	font-weight: bold;
	padding: 0 10px;
	text-decoration: none;
	text-shadow: 1px 1px 0 #eaeaea;
}
#navigation a:hover {
	color: #0a2d43;
}
.img{
	display: block;
	margin: 0 auto;
	width: auto;
	max-width: 100%;
}

/** Searchbar **/
#search {
	background: url(../images/bg-search.gif) no-repeat right bottom;
	height: 2em;
	width: 30%;
	padding: 1.2em 0 0;
	position: absolute;
	right: 0;
}
#search form {
	display: inline-block;
	margin: 0;
	padding: auto;
	margin-top: -2em;
}
#search input {
	float: left;
	line-height: 3em;

}
#search .txtfield {

	font-size: 1em;
	font-style: italic;
	height: 2em;
	width: 80%;
	max-width: 100%
	border: 0;
	padding: 0;
  position: absolute;


}
#search .button {
  background: url(../images/spotlight.gif) no-repeat right center;
	border: 0;
	cursor: pointer;
	height: 2em;
	width: 80%;
  max-width: 100%;
}
.columncont{
  width: 100%;
	max-width: 100%;
	background-color: #F5F5F5;

}
 .columncont img{
	max-width: 100%;
	width: 100%;

}
.text{
	padding-top: 15%;
}
.columncont2{
	background-color: #EFEBE9;
	padding-top: 2em;
}
.columncont2 img{
	position: relative;
}
.mr{
	margin-top: -4.5em;
	margin-left: 7em;
	max-width: 100%;
	padding: 1em;

}
.mr2{
	max-width: 100%;
	margin-top: -3.7em;
	margin-left: 7em;
	padding: 1.2em;
}
.columncont3{
	background-color: #1976D2;
	padding-top: 2em;
	color: #fff;
	padding: 1.5em;

}
.line1{
	width: 100%;
	max-width: 100%;
}
.template{
	padding: 1.2em;
	line-height: 1.5em;
	justify-content: space-between;
	width: 100%;
	max-width: 100%;
}
.forum{
	color: #fff;
	cursor: alias;
}
.columncont4{
	background-color: #1E88E5;
	padding-top: 2em;
	color: #fff;
	padding: 1.5em;
	display: block;
}
footer a{
	color: #fff;
}
.copy{
	background-color: #EFEBE9;
}
@media screen and (min-width: 768px){
	html,body{
		font-size: 16px;
	}

}
